<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm header-bg">
  <div class="container-fluid">
    <ul class="navbar-nav header-text">
      <li class="nav-item">
        <a routerLink="todo" class="nav-link text-white active" routerLinkActive="active">
          <i class="fa fa-calendar-week"></i>
          Todo App
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="info" class="nav-link text-white" routerLinkActive="active">
          <i class="fa fa-info-circle"></i>
          Info
        </a>
      </li>
    </ul>
    <ul class="navbar-nav header-text">
      <li class="nav-item">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-info" ></i></button>
      </li>
    </ul>
  </div>
</nav>

<div class="app-container text-white">
  <router-outlet></router-outlet>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-info-circle"></i> About Author</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row text-center">
          <div class="col-sm text-center">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="hardik-thakor-075860123"><a class="LI-simple-link" href='https://in.linkedin.com/in/hardik-thakor-075860123?trk=profile-badge'>Hardik Thakor</a></div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm text-center">
            <a class="mr-4 text-dark" thref="https://github.com/hardik2792"><i class="fab fa-github"></i> </a>
            <a class="mr-4 text-info" href="live:hardik_thakor"><i class="fab fa-skype"></i> </a>
            <a class="mr-4 text-danger" href="https://hardik2792.github.io/"><i class="fa fa-globe"></i> </a>
            <a class="mr-4 text-warn" href="mailto:hardikthakor2792@gmail.com"><i class="fa fa-envelope"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

